<!-- views/home.handlebars -->

{{> navbar}}

<h1>Welcome to MyePlace!</h1>

{{#if loggedIn}}
  <h2>Recent Blog Posts</h2>
  <div>
    {{#each posts}}
      <div>
        <h3>{{title}}</h3>
        <p>{{content}}</p>
        <p>Posted by {{user.username}} on {{createdAt}}</p>
        <a href="/post/{{id}}">Read more</a>
      </div>
    {{/each}}
  </div>
{{else}}
  <p>Login or signup to view blog posts.</p>
{{/if}}

{{> footer}}
